body {
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
  display: block;
  margin: 8px;
  min-height: 100vh;
  font-family: "Montserrat", serif;
  color: #09203f;
}

.card-container {
  background: white;
  margin: 60px auto;
  padding: 35px;
  border-radius: 15px;
  max-width: 600px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f2f3fa;
  padding: 0 0 35px 0;
}

.breeze-logo {
  margin: 0;
  width: 180px;
}

form {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 370px;
}

form input {
  font-family: "Montserrat", serif;
  font-size: 14px;
  border-radius: 10px;
  padding: 15px 23px;
}

.search-input {
  background: #f1f3fa;
  border: none;
  width: 100%;
}

.search-button {
  background: #2772db;
  color: white;
  font-weight: 500;
  border: none;
  margin-left: 8px;
  transition: all 150ms ease-in-out;
}

.search-button:hover {
  background: #4eb778;
  cursor: pointer;
}

main {
  text-align: center;
}

.city-name {
  font-size: 38px;
  font-weight: 600;
  margin: 0;
  padding: 35px 0 0 0;
}

.day-time {
  font-size: 13px;
}

.current-temperature {
  padding: 25px 0 25px 0;
}

.current-temp-icon {
  font-size: 45px;
  position: relative;
  top: 0px;
  right: 7px;
}

.current-temp-value {
  font-size: 48px;
  font-weight: 800;
}

.current-temp-unit {
  font-size: 24px;
  font-weight: 400;
  position: relative;
  top: -18px;
  left: -3px;
}

.weather-info {
  font-size: 13px;
  padding: 0 0 20px 0;
  margin: 0;
}

strong {
  color: #2772db;
}

footer {
  position: relative;
  color: white;
  text-align: center;
  width: 100%;
  font-size: 12px;
}

footer a {
  color: #2772db;
}
